/*html {
	min-height: 100%;	 
	background-color: #76C6C6;
	background-image: linear-gradient(180deg, #76C6C6, #FF3697); 
	background-repeat: no-repeat;
	position: static;
	margin: 0px;
	width: 100%;
}

body {
	height: 100%;
	max-width: 100%;
	min-width: 100%;
}

li {
	list-style: none;
}

#page-border {
	background-color: white;
}

.container {
	margin: 10px;
	height: 100%;
}

.nav-container li {
	display: inline;
	float: right;
	padding: 5px;

}*/
html, body {
	height: 100%;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}

.nav {
	/*padding: 35px;*/
	font-family: 'Laila', serif;
}


.list-inline li {
	padding: 10px;
	font-size: 1.5em;
	color:#ccc;
}


.list-inline li.brand a {
 color: pink;
 font-size: 2em;
 font-weight: bold;
}

.main {
	font-family: 'Roboto', sans-serif;
	margin-top: 120px;
}

.main li {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px #ccc solid;
	font-weight: bold;
}

.title {
	font-family: 'Laila', serif;
	font-weight: bold;
}

.footer {
 font-size: 1em;
 text-align:center;
 clear:both;
 padding-top: 50px;
 color:#ccc;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 8px;
  padding-bottom: 10px;
}















