html, body {
	height: 100%;
	color: #555;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}

nav {
	font-family: 'Laila', serif;
}

.nav li {
	font-size: 1.5em;
	color: #E3E3E3;	
}

.navbar-brand {
 font-size: 2.5em;
 font-weight: bold;
 color: #E3E3E3;
}

.nav a:hover {
	color: #2E2E2E;
	background-color: transparent;
}

.nav .list-inline a:hover {
	background-color: transparent;
}

.nav .lang a:hover {
	background-color: transparent;
}

.navbar-toggle span {
	background: #E3E3E3;
}

.navbar {
	background-color: #008080;
	padding-top: 15px;
	padding-bottom: 5px;
}

.navbar a {
	color: #E3E3E3;
}

.main {
	font-family: 'Roboto', sans-serif;
	margin-top: 100px;
	font-size: 16px;
}

.main li {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px #ccc solid;
	font-weight: bold;
}

.title {
	font-family: 'Laila', serif;
	font-weight: bold;
	color: #008080;
}

.footer {
	font-size: 1em;
	text-align:center;
	clear:both;
	padding-top: 50px;
	color:#ccc;
}

.social-icon {
	width: 50px;
	height: 50px;
	margin: 0 8px;
	padding-bottom: 10px;
}

.page-content a {
	color: #008080;
	text-decoration: none;
}

h3 {
	color: #555;
}