 <div class="nav navbar-default navbar-fixed-top">
 	<div class="container">
	    <ul class='list-inline'>
	    	{% for menu in site.data.navigation[page.lang] %}
		    	<li class="brand">
		    	<a href="/">Ivette Addington</a>
		    	</li>
		      	{% for items in site.data.navigation %}
			        <li class="list-inline pull-right"><a href="{{ site[1].url }}{{ items[1].url }}">{{ items[1].title }}</a></li>
		        {% endfor %}
		    {% endfor %}
	    </div>    
	    </ul>
    </div>
</div>

