
<div class="row">

  <div class="col-sm-6 col-md-6">
  {% assign posts=site.posts | where:"lang", page.lang | where:"type", "projects" %}
      
    <div class="thumbnail">
      {% for post in posts %}
        <div class="caption text-center">
          <a href="{{ post.url }}" class="{{ post.lang }}">
            <img src="/img/{{ post.image }}" class="img-responsive">
            <h2 class="title">{{post.title | replace '<br/>', ''}}</h2>
            <h4 class="line">{{post.line}}</h4>
          </a>
          {% capture language %}{{page.lang}}{% endcapture %}
          {% if language == "en" %}
            <a href="{{ post.url }}" class="btn btn-default text-center" role="button" target="_blank">visit project</a> 
            <a href="{{ post.code }}" class="btn btn-default text-center" role="button" target="_blank">view code</a>
          {% else %}
            <a href="{{ post.url }}" class="btn btn-default text-center" role="button" target="_blank">visita sitio</a> 
            <a href="{{ post.code }}" class="btn btn-default text-center" role="button" target="_blank">ve codigo</a>
          {% endif %}
        </div>
      
      <br>
    </div>
    {% endfor %}
  </div>

</div>

