<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato|Laila|Roboto' rel='stylesheet' type='text/css'>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% assign posts=site.posts %}
    {% for post in posts %}
      {% if post.lang != page.lang %}
        <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />
      {% endif %}
    {% endfor %}

  <link rel="alternate" href="/rss.xml" type="application/rss+xml" />
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
</head>

<body class="{{ page.lang }}{% if page.type == 'pages' %} page{% endif %}">

<div class="nav navbar-default navbar-fixed-top">
  <div class="container nav">
    <ul class="list-inline">
      {% if page.lang == 'en' %}
        <li class="brand"><a href="/index/">Ivette Addington</a></li>
      {% else %}   
        <li class="brand"><a href="/entradas/">Ivette Addington</a></li>
      {% endif %}
      {% for menu in site.data.navigation %}
        <li class="list-inline pull-right"><a href="{{ menu[1].url }}">{{ menu[1].title }}</a></li>
      {% endfor %}
      <li class="lang">
        {% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
        {% for post in posts %}
          <li class="lang">
          <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang | replace: "en", "english" | replace: "es", "espanol" }}</a>
        {% endfor %}
      </li>
    </ul>
  </div>
</div>



<div class="container main">
  <div class="page-content">
  <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
</div>

<div class="footer">
  <a href="http://twitter.com/ivetteaddington" target="_blank"><img src="/images/twitter.svg" alt="twitter logo" class= "social-icon"></a>

  <a href="https://github.com/IvetteAddington" target="_blank"><img src="/images/gitHub.svg" alt="gitHub logo" class= "social-icon"></a>

  <a href="https://www.linkedin.com/in/ivetteaddington" target="_blank"><img src="/images/linkedIn.svg" alt="linkedIn logo" class= "social-icon"></a>

  <p>&copy; 2015 Ivette Addington.</p>
</div>

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>
</body>
</html>
